.editPage {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__editSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  .editSection {
    &__header {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: $n_color100;
    }

    &__subheader {
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: $n_color400;
    }
  }

  .editContainer {
    width: 100%;
    background: $n_color900;
    border-radius: 12px;
    border: 1px solid $s_color2;
    padding: 34px;
    margin-top: 22px;

    &__form {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 24px;

      &Row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
      }

      &Label {
        display: flex;
        align-items: center;
        gap: 4px;
        height: 100%;

        svg {
          width: 12px;
          height: 12px;
          min-width: 12px;
          min-height: 12px;
        }

        span {
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: $n_color100;
        }
      }

      &Grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        grid-template-rows: auto auto;
        row-gap: 30px;
      }

      &Divider {
        height: 1px;
        width: 100%;
        max-width: 450px;
        background-color: $p_accent;
      }

      &Input {
        width: 100%;
        max-width: 400px;
        height: 42px;
        filter: drop-shadow(0px 2px 4px rgba(1, 5, 17, 0.2));
        background-color: $n_color900;
        border: 1px solid $s_color2;
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: $n_color400;
        padding: 14px;
        outline: none;
        z-index: 1;
        transition: all 0.3s ease;

        &::placeholder {
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: $n_color400;
        }

        &:focus {
          border-color: $p_accent;
          & ~ .mainPage__searchLabelImg {
            path {
              stroke: $p_accent;
            }
          }
        }
      }

      &Column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;

        .specialKey {
          min-width: 220px;
        }
      }

      &Checkbox {
        display: none;

        &:checked ~ .editContainer__formLabel {
          .editContainer__formCheckboxToggler {
            background: $h_togglerActive;
          }
          .editContainer__formCheckboxTogglerCheckmark {
            background: $n_color100;
            left: 18px;
          }
        }
      }

      &CheckboxToggler {
        width: 40px;
        height: 24px;
        border-radius: 40px;
        background: $h_togglerInactive;
        background: rgba($color: $h_togglerInactive, $alpha: 0.32);
        position: relative;
        transition: all 0.5s ease;

        &Checkmark {
          position: absolute;
          top: 2px;
          left: 2px;
          height: 20px;
          width: 20px;
          background: $n_color100;
          border-radius: 50%;
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15),
            0px 3px 1px rgba(0, 0, 0, 0.06);
          transition: all 0.5s ease;
        }
      }
    }
  }
}
