.filterContainer {
  &__darkLayer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba($color: $n_color900, $alpha: 0.6);
  }

  &__filters {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
    width: 100%;
    height: 30%;
    border-radius: 0 0 32px 32px;
    background-color: $s_color1;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__closeButton {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }

    path {
      transition: all 0.3s ease;
    }

    &:hover {
      path {
        fill: $p_accent;
      }
    }
  }

  &__row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
  }

  &__selectLabel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;

    &Header {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: $n_color100;
    }
  }

  &__select {
    width: 100%;
    height: 42px;
    filter: drop-shadow(0px 2px 4px rgba(1, 5, 17, 0.2));
    background-color: $n_color900;
    border: 1px solid $s_color2;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $n_color400;
    padding: 12px;
    outline: none;
    z-index: 1;
    transition: all 0.3s ease;
    cursor: pointer;

    &:focus {
      border-color: $p_accent;
      & ~ .mainPage__searchLabelImg {
        path {
          stroke: $p_accent;
        }
      }
    }
  }
}
