.layoutContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 16px;

  &:last-child {
    margin-left: auto;
  }

  &__button {
    width: 42px;
    height: 42px;
    min-width: 42px;
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $n_color700;
    border: 1px solid $s_color2;
    border-radius: 4px;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }

    path {
      transition: all 0.3s ease;
    }

    &.openFilters {
      &:hover {
        path {
          fill: $p_accent;
        }
      }
    }

    &.setTable {
      &:hover {
        path {
          stroke: $p_accent;
        }
      }
    }

    &.setGrid {
      &:hover {
        path {
          fill: $p_accent;
        }
      }
    }

    .leftArrow {
      transform: rotate(180deg);
    }

    .rightArrow {
      transform: rotate(0deg);
    }
  }
}
