@keyframes fade {
  from,
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translateIn {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}
