// Primary Colors

$p_accent: #bbf83b;

// Secondary Colors

$s_black: #101935;
$s_violet: #343b4f;
$s_lgBlue: #57c3ff;
$s_blue: #9a91fb;
$s_orange: #fdb52a;

// Neutral Colors

$n_color800: #080f25;
$n_color700: #212c4d;
$n_color600: #37446b;
$n_color500: #7e89ac;
$n_color400: #aeb9e1;
$n_color300: #d1dbf9;
$n_color200: #d9e1fa;
$n_color100: #ffffff;
